DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=sqlite
SQLITE_NAME=db.sqlite3

# When deploying to Render with PostgreSQL, set DATABASE_URL instead of DB_ENGINE.
# Example: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=

DB_NAME=campus_transport
DB_USER=root
DB_PASSWORD=secret
DB_HOST=127.0.0.1
DB_PORT=3306

GOOGLE_MAPS_API_KEY=your-google-maps-api-key
INSTITUTION_NAME=Smart Transport University
DEFAULT_FROM_EMAIL=no-reply@example.com
