Django==5.1.4
# mysqlclient==2.2.6  # Skipped for SQLite
python-dotenv==1.0.1
WeasyPrint==63.1
reportlab==4.2.5
django-widget-tweaks==1.5.0
bcrypt==4.2.1
gunicorn==21.2.0
whitenoise==6.12.0
dj-database-url==1.0.0
psycopg[binary]==3.3.3
