{% extends "base.html" %}
{% load widget_tweaks %}
{% block page_title %}Reserve a Seat{% endblock %}
{% block content %}
<section class="card">
    <h3>Seat Reservation</h3>
    <form method="post" class="form-grid">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field %}
            </div>
        {% endfor %}
        <button class="button" type="submit">Submit Reservation</button>
    </form>
</section>
{% endblock %}
