{% extends "base.html" %}
{% block page_title %}Routes{% endblock %}
{% block content %}
<section class="table-card">
    <a class="button" href="{% url 'routes:create' %}">Add Route</a>
    <table>
        <thead><tr><th>Name</th><th>Start</th><th>End</th><th>Distance</th><th></th></tr></thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route.name }}</td>
                    <td>{{ route.start_point }}</td>
                    <td>{{ route.end_point }}</td>
                    <td>{{ route.distance_km }} km</td>
                    <td><a href="{% url 'routes:edit' route.pk %}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
